@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-verde-transparente: #00c65dbb;
    --cor-verde-solido:#00c65d;
    --cor-preto-transparente: #00000077;
    --cor-preto-solido: #000000;
    --cor-branco-solido: #ffffff;
}


* {
    margin: 0;
    padding: 0;
}



body {
    background-color:var(--cor-preto-solido);
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    color: var(--cor-branco-solido);
    
}

.cabecalho{
    padding: 1% 0% 1% 0%;
    background-color: var(--cor-verde-transparente);
    border-bottom: 1px solid var(--cor-branco-solido);
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

.cabecalho__menu_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-branco-solido);
    text-decoration: none;
}

.login{
    padding: 4% 2%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 5% 35%;
    border: 2px solid var(--cor-branco-solido);
    border-radius: 20px;
    background-color: #00000077;
}

.login__container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    font-family: 'Krona One', sans-serif;
}

.login__container__username{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.login__container__text{
   height: 30px;
   font-size: 1rem;
   border-radius: 5px;
}
.login__container__text:focus{
    outline-color: var(--cor-verde-solido);
}

.login__container__separador{
    margin: 10px 0px 10px 0px;
}

.login__container__botoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    text-align: center;
}

.login__container__botao{
    background-color: var(--cor-branco-solido);
    color: var(--cor-preto-solido);
    padding: 7px 0px;
    border: 2px solid var(--cor-branco-solido);
    border-radius: 7px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.login__container__botao:hover{
    background-color: var(--cor-verde-solido);
    cursor: pointer;
}

.login__container__recuperarSenha{
    font-size: 0.75rem;
    text-decoration: underline;
    color: var(--cor-branco-solido)
}
