@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-texto-primaria: #ffffff;
    --cor-texto-secundaria: #00c65d;
    --cor-texto-terciaria: #00c65dbb;
    --cor-background: #000;
}
* {
    margin: 0;
    padding: 0;
}



body {
    
    background-image: linear-gradient(to bottom, #def8ff, #a9d8dc, #75b8b4, #479888, #1f7858); background-repeat: no-repeat;
    background-size:  cover;
    color: var(--cor-background);
}

.cabecalho{
    padding: 1% 0% 1% 0%;
}

.cabecalho__menu{
    display: flex;
    padding-left: 1%;
    justify-content: start;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-background);
    text-decoration: none;
    display: flex;
    padding-left: 1%;
    justify-content: start;
}

.login__geral{
    display: flex;
    justify-content: center;
    
}

.login__geral__imagem{
    background-image: url(/assets/93z_2206_w009_n001_145b_p14_145.jpg);
    background-size: cover;
    padding-right: 40%;
}

.login{
    flex-grow: 1;
    padding: 4% 2%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 5% 12% 12%;
    /* border: 2px solid var(--cor-texto-primaria);
    border-radius: 20px;
    background-color: #00000077; */
}

.login__container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    font-family: 'Krona One', sans-serif;
}

.login__container__username{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.login__container__text{
   height: 30px;
   font-size: 15px;
   border-radius: 5px;
}
.login__container__text:focus{
    outline-color: var(--cor-texto-secundaria);
}

.login__container__separador{
    margin: 10px 0px 10px 0px;
}

.login__container__botoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    text-align: center;
}

.login__container__botao{
    padding: 7px 0px;
    border: 2px solid var(--cor-texto-primaria);
    border-radius: 7px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.login__container__botao:hover{
    background-color: var(--cor-texto-secundaria);
    cursor: pointer;
}

.login__container__recuperarSenha{
    font-size: 12px;
    text-decoration: underline;
    color: var(--cor-background);
}
