@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-branco-solido: #ffffff;
    --cor-verde-solido: #00c65d;
    --cor-verde-transparente: #00c65dbb;
    --cor-preto-solido: #000;
}


* {
    margin: 0;
    padding: 0;
}



body {
    background-color: var(--cor-preto-solido);
    background-image: url(/assets/background.jpg);
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--cor-branco-solido);
    
}

.cabecalho{
    padding: 1% 0% 1% 0%;
    background-color: var(--cor-verde-transparente);
    border-bottom: 1px solid var(--cor-branco-solido);
    width: auto;
}

.cabecalho__menu{
    display: flex;
    gap: 5%;
    justify-content: space-around;
}

.cabecalho__menu_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-branco-solido);
    text-decoration: none;
}



.apresentacao {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
}

.destaque_titulo {
    color: var(--cor-verde-solido);
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    justify-content: center;
    gap: 10px;
    display: flex;
    border: 2px solid var(--cor-verde-solido);
    background-color: var(--cor-preto-solido);
    width: 40%;
    text-align: center;
    border-radius: 5px;
    font-size: 125%;
    padding: 10px 2%;
    color: var(--cor-branco-solido);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: width .3s, background-color .3s;

}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-verde-solido);
    height: 23px;
    width: 50%;
    margin-top: 1px;
    margin-bottom: 1px;
}



.apresentacao__links__imagem{
    width: 25px;
    height: 25px;
}

.apresentacao__imagem{
    margin: 1%;
    border-radius: 12px;
    width: 40%;
}


.rodape{
    padding: 12px;
    color: var(--cor-preto-solido);
    background-color: var(--cor-verde-solido);
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}



@media (max-width: 1100px){


    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 3%;
    }

    .apresentacao__conteudo{
        width: auto;
        text-align: center;
    }

    .apresentacao__imagem{
        width: 60%;
    }
}
