@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-branco-solido: #ffffff;
    --cor-verde-solido: #00c65d;
    --cor-verde-transparente: #00c65dbb;
    --cor-preto-solido: #000;
}


* {
    margin: 0;
    padding: 0;
}



body {
    background-color: var(--cor-preto-solido);
    background-image: url(/assets/background.jpg);
    background-size:  cover;
    color: var(--cor-branco-solido);
}

.cabecalho{
    padding: 1% 0% 1% 0%;
    background-color: var(--cor-verde-transparente);
    border-bottom: 1px solid var(--cor-branco-solido);
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

.cabecalho__menu_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-branco-solido);
    text-decoration: none;
}



.apresentacao {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.destaque_titulo {
    color: var(--cor-verde-solido);
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__google{
    justify-content: center;
    gap: 10px;
    display: flex;
    border: 2px solid var(--cor-verde-solido);
    background-color: var(--cor-preto-solido);
    width: 250px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 0;
    color: var(--cor-branco-solido);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: width .3s, background-color .3s;

}

.apresentacao__links__google:hover{
    background-color: var(--cor-verde-solido);
    height: 23px;
    width: 280px;
    margin-top: 1px;
    margin-bottom: 1px;
}



.apresentacao__links__imagem{
    width: 25px;
    height: 25px;
}

.apresentacao__imagem{
    margin: 10px;
    border-radius: 12px;
    width: 500px;
}


.rodape{
    padding: 12px;
    color: var(--cor-preto-solido);
    background-color: var(--cor-verde-solido);
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

